.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 12px;
}

.section {
  display: grid;
  gap: 4px;
}

.title {
  margin: 0;
  font-size: 16px;
  border-bottom: 1px solid darkgray;
  height: 25px;
}
